In [1]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
np.random.seed(42)

random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

data = [go.Scatter(x = random_x,
                   y = random_y,
                   mode = 'markers',
                   marker = dict(
                                size = 12,
                                color = 'rgb(51, 204, 153)',
                                symbol = 'pentagon',
                                line = {'width' : 2}))]
                                
layout = go.Layout(title = 'Hello First Plot', 
                        xaxis = {'title' : 'My X axis'},
                        yaxis = dict(title = 'My Y axis'),
                        hovermode = 'closest')

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename='scatter.html')

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/scatter.html'

In [3]:
np.random.seed(56)

x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values + 5,
                mode = 'markers',
                name = 'markers')

trace1 = go.Scatter(x = x_values,
                y = y_values,
                mode = 'lines',
                name = 'mylines')

trace2 = go.Scatter(x = x_values,
                y = y_values -5,
                mode = 'lines+markers',
                name = 'my favorite'
                )

data = [trace0, trace1, trace2]
layout = go.Layout(title ='Line Charts')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

# WITH PANDAS

In [4]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/SourceData/nst-est2017-alldata.csv')

In [5]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10.0,0,0,0.0,United States,308745538.0,308758105.0,309338421.0,311644280.0,313993272.0,...,0.000000,0.000000,0.000000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20.0,1,0,0.0,Northeast Region,55317240.0,55318350.0,55388349.0,55642659.0,55860261.0,...,-6.103092,-6.619089,-5.559570,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20.0,2,0,0.0,Midwest Region,66927001.0,66929794.0,66973360.0,67141501.0,67318295.0,...,-3.458531,-3.307295,-2.304640,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323
3,20.0,3,0,0.0,South Region,114555744.0,114563024.0,114869241.0,116060993.0,117291728.0,...,3.788037,3.592695,2.900528,5.544289,5.831747,5.362083,6.317310,7.336162,7.113818,6.304010
4,20.0,4,0,0.0,West Region,71945553.0,71946937.0,72107471.0,72799127.0,73522988.0,...,1.613450,2.099001,1.475519,2.798796,3.521423,3.396627,4.163576,5.067452,5.488965,4.737979

In [6]:
df.shape

(59, 121)

In [7]:
df2 = df[df['DIVISION'] == '1']
df2.set_index('NAME', inplace = True)

list_of_pop_col = [col for col in df2.columns if col.startswith('POP')]
df2 = df2[list_of_pop_col]

df2.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171.0,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0
Maine,1327568.0,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0
Massachusetts,6564943.0,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0
New Hampshire,1316700.0,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0
Rhode Island,1053169.0,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0

In [8]:
data = [go.Scatter(x = df2.columns,
                y= df2.loc[name],
                mode = 'lines',
                name = name) for name in df2.index]

pyo.plot(data)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

## EXERCISE 01

In [9]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2010YumaAZ.csv')

In [10]:
days = ['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY', 'MONDAY']
df['DAY'].unique()

array(['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY',
       'MONDAY'], dtype=object)

In [11]:
df2 = df[['DAY', 'T_HR_AVG', 'LST_TIME']]
df2.head(2)

       DAY  T_HR_AVG LST_TIME
0  TUESDAY      25.2     0:00
1  TUESDAY      24.1     1:00

In [12]:
trace = go.Scatter(x = df2['LST_TIME'],y= df2['T_HR_AVG'], mode = 'lines')

data = [trace]
layout = go.Layout(title = 'Line Charts')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [13]:
data = []

for d in days:
    trace = go.Scatter(x = df2['LST_TIME'],  y= df2[df2['DAY'] == d]['T_HR_AVG'], mode = 'lines')
    data.append(trace)

layout = go.Layout(title = 'Daily Temperature AVG')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

### SOLUTION II

In [14]:
data =[{
    'x' : df2['LST_TIME'],
    'y' : df2[df2['DAY'] == day]['T_HR_AVG'],
    'name' : day} for day in df['DAY'].unique()]

layout = go.Layout(title ='Daily Temperatura AVG')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [15]:
## barplot

df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2018WinterOlympics.csv')

In [31]:
data = [go.Bar(x = df['NOC'], y = df['Total'])]
layout = go.Layout(title = 'Medals')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [32]:
trace1 = go.Bar(x =df['NOC'], y = df['Gold'], name='Gold', marker = {'color' : '#FFD700'})
trace2 = go.Bar(x =df['NOC'], y = df['Silver'], name='Silver', marker = {'color' : '#9EA0A1'})
trace3 = go.Bar(x =df['NOC'], y = df['Bronze'], name='Bronze', marker = {'color' : '#CD7F32'})

data = [trace1, trace2, trace3]
layout = go.Layout(title = 'Medals', barmode = 'stack')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [33]:
trace1 = go.Bar(x =df['NOC'], y = df['Gold'], name='Gold', marker = {'color' : '#FFD700'})
trace2 = go.Bar(x =df['NOC'], y = df['Silver'], name='Silver', marker = {'color' : '#9EA0A1'})
trace3 = go.Bar(x =df['NOC'], y = df['Bronze'], name='Bronze', marker = {'color' : '#CD7F32'})

data = [trace1, trace2, trace3]
layout = go.Layout(title = 'Medals')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [40]:
df= pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/mocksurvey.csv', index_col = 0)
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [ ]:
data = [go.Bar(x = df.index) for r df.columns]


trace1 = go.Bar(x =df['NOC'], y = df['Gold'], name='Gold', marker = {'color' : '#FFD700'})
trace2 = go.Bar(x =df['NOC'], y = df['Silver'], name='Silver', marker = {'color' : '#9EA0A1'})
trace3 = go.Bar(x =df['NOC'], y = df['Bronze'], name='Bronze', marker = {'color' : '#CD7F32'})

data = [trace1, trace2, trace3]
layout = go.Layout(title = 'Medals', barmode = 'stack')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

In [50]:
data = [go.Bar(x = df.index, y = df[response], name = response) for response in df.columns]

layout = go.Layout(title='Survey Results', barmode = 'stack')

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [51]:
data = [go.Bar(x = df[response], y = df.index, orientation ='h', name = response) for response in df.columns]

layout = go.Layout(title='Survey Results', barmode = 'stack')

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

# BUBBLE CHART

In [52]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [55]:
data = [go.Scatter(x =df['horsepower'], y = df['mpg'], text = df['name'], mode = 'markers',
marker =dict(size = 3 * df['cylinders']))]

layout = go.Layout(title = 'Bubble Chart')
fig = go.Figure(data=data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [60]:
data = [go.Scatter(x =df['horsepower'],
                y = df['mpg'],
                text = df['name'],
                mode = 'markers',
                marker =dict(size = df['weight'] / 180,
                color = df['cylinders'],
                showscale = True))]

layout = go.Layout(title = 'Bubble Chart')
fig = go.Figure(data=data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [61]:
data = [go.Scatter(x =df['horsepower'],
                y = df['mpg'],
                text = df['name'],
                mode = 'markers',
                marker =dict(size = df['weight'] / 180,
                color = df['cylinders'],
                showscale = True))]

layout = go.Layout(title = 'Bubble Chart', hovermode = 'closest')
fig = go.Figure(data=data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

## EXERCISE

In [66]:
data = [go.Scatter(x=df['displacement'],
                y = df['acceleration'],
                text = df['name'],
                mode = 'markers',
                marker = dict(size = df['weight'] / 300))]

layout = go.Layout(title = 'My Bubble Solution', hovermode = 'closest')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

# BOXPLOT

In [69]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y, boxpoints='all' , jitter =0.3, pointpos = 0 )]
pyo.plot(data)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [70]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y, boxpoints='outliers')]
pyo.plot(data)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

## Quintus Curtius Snodgrass and Mark Twain

In [71]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

data = [go.Box(y=snodgrass, name = 'Snodgrass'),
        go.Box(y=twain, name = 'Twain')]
        
pyo.plot(data)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

## EXERCISE II

In [73]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/abalone.csv')
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [75]:
a = np.random.choice(df['rings'], 30, replace = False)
b = np.random.choice(df['rings'], 20, replace = False)

data = [go.Box(y = a, name = 'A'),
        go.Box(y = b, name = 'B')]

layout = go.Layout(title = '2 random samples')
fig = go.Figure(data =  data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

# HISTOGRAM

In [76]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [78]:
data = [go.Histogram(x=df['mpg'])]
layout = go.Layout(title='Histogram')
fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [80]:
data = [go.Histogram(x=df['mpg'], xbins = dict(start = 0, end = 50, size = 2))]
layout = go.Layout(title='Histogram')
fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

# DISTPLOT

In [92]:
import plotly.figure_factory as ff
import scipy

In [16]:
import plotly.offline as pyo
import plotly.figure_factory as ff
import numpy as np

x = np.random.randn(1000)
hist_data = [x]
group_labels = ['distplot']

fig = ff.create_distplot(hist_data, group_labels)
pyo.plot(fig, filename='basic_distplot.html')

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/basic_distplot.html'

In [18]:
import plotly.offline as pyo
import plotly.figure_factory as ff
import numpy as np

x1 = np.random.randn(1000)-2
x2 = np.random.randn(1000)
x3 = np.random.randn(1000)+2
x4 = np.random.randn(1000)+4

hist_data = [x1, x2, x3, x4]
group_labels = ['X1', 'X2', 'X3', 'X4']

fig = ff.create_distplot(hist_data, group_labels, bin_size = [2, 1, 3, 4])
pyo.plot(fig, filename='basic_distplot.html')

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/basic_distplot.html'

# HEATMAP

In [20]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2010SantaBarbaraCA.csv')
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [21]:
data = [go.Heatmap(x = df['DAY'],
                y = df['LST_TIME'],
                z = df['T_HR_AVG'].values.tolist())]

layout = go.Layout(title = 'SB CA Temps')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [22]:
data = [go.Heatmap(x = df['DAY'],
                y = df['LST_TIME'],
                z = df['T_HR_AVG'].values.tolist(),
                colorscale = 'Jet')]

layout = go.Layout(title = 'SB CA Temps')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [24]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2010YumaAZ.csv')
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [25]:
data = [go.Heatmap(x = df['DAY'],
                y = df['LST_TIME'],
                z = df['T_HR_AVG'].values.tolist(),
                colorscale = 'Jet')]

layout = go.Layout(title = 'SB AR Temps')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

In [29]:
# multiple heatmaps with subplots
from plotly import tools

df1 = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2010SitkaAK.csv')
df2 = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2010SantaBarbaraCA.csv')
df3 = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/2010YumaAZ.csv')

trace1 = go.Heatmap(x = df1['DAY'], y=df1['LST_TIME'], z = df1['T_HR_AVG'], colorscale = 'Jet', zmin = 5, zmax = 40)
trace2 = go.Heatmap(x = df2['DAY'], y=df2['LST_TIME'], z = df2['T_HR_AVG'], colorscale = 'Jet', zmin = 5, zmax = 40)
trace3 = go.Heatmap(x = df3['DAY'], y=df3['LST_TIME'], z = df3['T_HR_AVG'], colorscale = 'Jet', zmin = 5, zmax = 40)

fig = tools.make_subplots(rows = 1, cols = 3, subplot_titles = ['Sitka AK', 'SB CA', 'Yuma AZ'],
                            shared_yaxes = True)

fig.append_trace(trace1, 1, 1)
fig.append_trace(trace2, 1, 2)
fig.append_trace(trace3, 1, 3)

fig['layout'].update(title='Temps for 3 cities')
pyo.plot(fig)

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y1 ]  [ (1,3) x3,y1 ]

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'

## EXERCISE

In [30]:
df = pd.read_csv('/Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/Plotly-Dashboards-with-Dash/Data/flights.csv')
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [34]:
data = [go.Heatmap(x = df['year'], y = df['month'],
z = df['passengers'])]
layout = go.Layout(title = 'flights')
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'file:///Users/daianeklein/Documents/Data Science/Data-Viz/Plotly-Dash/Plotly-Dash/data-viz/temp-plot.html'